* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
:root {
    --lightcolor: #f6f6f6;
    --primarycolor: #2e3034;
    --secondarycolor: #696969;
    --backuptext: #1a5f96;
    --backuptextlight: #1d73b9;
    --backgroundcolor: #020711;
}
body {
    background-color: var(--lightcolor);
    color: var(--primarycolor);
    overflow-x: hidden;
}
#splashScreen {
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundcolor);
    position: fixed;
    z-index: 9;
}
@keyframes splashScreen {
    0% {height: 100vh;}
    100% {height: 0vh; visibility: hidden;}
}
@keyframes splashScreenout {
    0% {height: 0vh; visibility: visible;}
    100% {height: 100vh;}
}
#splashScreenGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 46px 20px;
    grid-row-gap: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#splashScreenLoadingAnimation {
    margin: auto;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
#splashScreenLoadingText {
    font-size: 12px;
    color: var(--lightcolor);
}
#navContainer {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    padding-top: 19px;
    background-color: var(--backgroundcolor);
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#navList {
    display: flex;
    width: 86%;
    height: 42px;
    margin: auto;
    justify-content: space-between;
    z-index: 7;
}
#navList1 {
    display: flex;
    line-height: 42px;
    list-style: none;
}
#navList2 {
    display: flex;
    line-height: 42px;
    list-style: none;
}
#navLogo {
    height: 36px;
    margin: 3px 64px 3px 0px;
    user-select: none;
    -webkit-user-select: none;
}
#navGame {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navSupport {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navDiscord {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navStore {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
}
#navVote {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin: 0px 64px;
}
#navGame:hover {
    text-decoration: underline;
}
#navSupport:hover {
    text-decoration: underline;
}
#navDiscord:hover {
    text-decoration: underline;
}
#navStore:hover {
    text-decoration: underline;
}
#navVote:hover {
    text-decoration: underline;
}
#navButton {
    padding: 2px;
    height: 42px;
    width: 128px;
    background-color: var(--backuptextlight);
    border-style: none;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    color: var(--lightcolor);
    text-decoration: none;
    -webkit-appearance: button;
    appearance: button;
    text-align: center;
}
#navButton:hover {
    background-color: var(--backuptext);
    cursor: pointer;
}
#mobilenavLogo {
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-select: none;
    display: none;
}
#mobilenavMenuBackground {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
#mobilenavMenu {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}
#mobilenavMenuClose {
    position: fixed;
    right: 24px;
    top: 24px;
    cursor: pointer;
    display: none;
    z-index: 8;
}
@keyframes NavMenuOpen {
    0% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
}
@keyframes NavMenuClose {
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
#footerSection {
    background-color: var(--backgroundcolor);
    width: 100%;
    padding: 22px 0px 42px;
}
#footerContainer {
    width: 1064px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#footerNavigations {
    display: flex;
}
.footerNavBlock {
    width: 180px;
    display: flex;
    flex-direction: column;
}
.footerNavHeader {
    color: var(--lightcolor);
    font-weight: 500;
    margin: 42px 0px 10px;
}
.footerNavBlock a {
    margin-top: 8px;
    text-decoration: none;
    color: #909090;
}
.footerNavBlock a:hover {
    text-decoration: underline;
}
#footerMedias {
    text-align: right;
}
#footerMediasContainer a{
    text-decoration: none;
}
.footerMediasLink {
    fill: none;
    margin: 0px 0px 8px 6px;
}
#footerCopyright {
    color: #909090;
    font-size: 13px;
    font-weight: 500;
}
#gameinfoHeaderSection {
    width: 100%;
    background-image: url(https://www.minecraft.net/content/dam/games/minecraft/background-images/xplay-aquatic-bg.jpg);
    background-position: top;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    box-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
#gameinfoHeaderText {
    color: var(--lightcolor);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    width: 760px;
    max-width: 95%;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
#aboutSection {
    width: 100%;
    margin: 64px 0px 100px;
}
#aboutContainer {
    width: 1064px;
    max-width: 95%;
    height: 300px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#aboutTextContainer {
    width: 475px;
}
#aboutTitle {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
    color: var(--primarycolor);
}
#aboutDesc {
    font-size: 14px;
    line-height: 1.6;
    color: var(--secondarycolor);
}
#aboutTrailer {
    border-radius: 4px;
    box-shadow: 0px 6px 6px rgba(0,0,0,.33);
    height: 290px;
    width: 480px;
    position: relative;
    overflow: hidden;
}
#aboutTrailerThumbnail {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
#aboutTrailerWatchtext {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    color: var(--lightcolor);
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background-color: #020711d0;
    padding: 16px 0px;
}
#aboutTrailerButton {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 68px;
    height: 48px;
    background-color: #020711c0;
    border-radius: 4px;
}
#aboutTrailerButton:hover {
    background-color: #020711;
    cursor: pointer;
}
#aboutTrailerPlayButton {
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    z-index: 1;
}
.viewerBG {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 10;
    display: none;
}
.viewerBGClose {
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
}
#aboutTrailerVideo {
    height: 480px;
    max-width: 835px;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#gameinfoNavContainer {
    display: flex;
    justify-content: space-between;
    width: 1064px;
    max-width: 95%;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #d8dee4;
}
.gameinfoNavButtons {
    background-color: var(--lightcolor);
    font-size: 13px;
    border: none;
    border-radius: 0px;
    padding: 8px 16px;
}
.gameinfoNavButtonsActive {
    border-bottom: 2px solid var(--backuptextlight) !important;
    font-weight: 600;
}
.gameinfoNavButtonsInactive {
    border-bottom: 2px solid #f6f6f6;
}
.gameinfoNavButtons:hover {
    cursor: pointer;
    border-bottom: 2px solid #d8dee4;
}
#gameinfoNavButtonsRules {
    background-color: var(--backuptextlight);
    color: var(--lightcolor);
    font-size: 13px;
    border: none;
    border-radius: 4px;
    padding: 8px 32px;
}
#gameinfoNavButtonsRules:hover {
    cursor: pointer;
    background-color: var(--backuptext);
}
#gameinfoIframeContainer {
    width: 1064px;
    max-width: 95%;
    height: 500px;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 100px;
    border: 1px solid #d8dee4;
}
#gameinfoIframeContainer iframe {
    width: 100%;
    height: 100%;
}
#newsSection {
    background-color: var(--lightcolor);
    width: 100%;
    padding-bottom: 84px;
}
#newsHeader {
    color: var(--primarycolor);
    padding: 4px 2.5% 64px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#newsContainer {
    display: flex;
    width: 1064px;
    max-width: 95%;
    height: auto;
    margin: auto;
    overflow-y: hidden;
    padding: 8px;
}
.newsImage {
    width: 332px;
    border-radius: 4px;
    box-shadow: 0px 6px 6px rgba(0,0,0,.33);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
}
.newsImage:hover {
    transform: scale(1.02);
    cursor: pointer;
}
#newsImage2 {
    margin: 0px 24px 8px;
}
.newsTitle {
    font-size: 16px;
    font-weight: 600;
    padding: 14px 0px;
    width: 332px;
}
.newsTagServer {
    font-weight: 500;
    background-color: var(--backuptextlight);
    color: var(--lightcolor);
    padding: 3px 12px;
    border-radius: 3px;
}
.newsTagAnnouncement {
    font-weight: 500;
    background-color: #b90f2e;
    color: var(--lightcolor);
    padding: 3px 12px;
    border-radius: 3px;
}
.newsTagStaff {
    font-weight: 500;
    background-color: var(--secondarycolor);
    color: var(--lightcolor);
    padding: 3px 12px;
    border-radius: 3px;
}
.newsDate {
    margin-left: 16px;
    color: var(--secondarycolor);
}
#newsSeemore {
    display: table;
    font-size: 10px;
    font-weight: 700;
    color: var(--backuptext);
    text-decoration: none;
    text-align: center;
    margin: 42px auto auto auto;
}
#endofGameInfoSection {
    width: 760px;
    max-width: 95%;
    margin: 64px auto;
    padding: 64px 15px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#endofGameInfoTitle {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
    color: var(--primarycolor);
    text-align: center;
}
#endofGameInfoDesc {
    font-size: 14px;
    line-height: 1.6;
    color: var(--secondarycolor);
    text-align: center;
    padding-bottom: 64px;
}
#endofGameInfoHelp {
    background-color: var(--backuptextlight);
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    width: 250px;
    color: var(--lightcolor);
    border: none;
    border-radius: 4px;
}
#endofGameInfoHelp:hover {
    background-color: var(--backuptext);
    cursor: pointer;
}
#endofGameInfoForums {
    font-size: 14px;
    color: var(--backuptext);
    margin-top: 16px;
}
#gameinfoNav2 {
    display: none;
}
@media screen and (max-width: 1032px) {
    #splashScreenGrid {
        top: 40%;
        transform: translate(-50%, 0%);
    }
    #mobilenavLogo {
        display: block;
    }
    #mobilenavMenu {
        display: block;
    }
    #navList {
        position: fixed;
        flex-direction: column;
        padding: 32px 32px 100px 32px;
        top: 0px;
        left: -76%;
        height: 100vh;
        width: 75%;
        background-color: var(--backgroundcolor);
    }
    #navList1 {
        flex-direction: column;
    }
    #navList2 {
        flex-direction: column;
    }
    #navButton {
        width: 100%;
    }
    #navGame {
        font-size: 12px;
        font-weight: 500;
    }
    #navSupport {
        font-size: 12px;
        font-weight: 500;
    }
    #navDiscord {
        font-size: 12px;
        font-weight: 500;
    }
    #navStore {
        font-size: 12px;
        font-weight: 500;
    }
    #navVote {
        font-size: 12px;
        margin: 0px;
        font-weight: 500;
    }
    #footerContainer {
        flex-direction: column;
        align-items: center;
    }
    #footerMedias {
        text-align: center;
        margin-top: 64px;
    }
    .footerNavHeader {
        text-align: center;
    }
    .footerNavBlock a {
        text-align: center;
    }
    #gameinfoHeaderText {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.6;
    }
    #aboutContainer {
        height: auto;
        flex-direction: column;
    }
    #aboutTextContainer {
        width: 95%;
    }
    #aboutTitle {
        padding-top: 48px;
        text-align: center;
    }
    #aboutDesc {
        text-align: center;
    }
}
@media screen and (max-width: 744px) {
    #footerNavigations {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerNavHeader {
        font-size: 14px;
        font-weight: 600;
    }
    .footerNavBlock a {
        font-size: 14px;
    }
    #aboutTrailer {
        max-width: 98%;
    }
}
@media screen and (max-width: 360px) {
    #gameinfoNav1 {
        display: none;
    }
    #gameinfoNav2 {
        display: block;
    }
}
@media screen and (max-width: 360px) {
    #gameinfoHeaderText {
        font-size: 24px;
        font-weight: 500;
    }
    #aboutTrailerVideo {
        width: 360px;
        height: 202px;
    }
}