* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
:root {
    --lightcolor: #f6f6f6;
    --primarycolor: #2e3034;
    --secondarycolor: #696969;
    --backuptext: #1a5f96;
    --backuptextlight: #1d73b9;
    --backgroundcolor: #020711;
}
body {
    background-color: var(--lightcolor);
    color: var(--primarycolor);
    overflow-x: hidden;
}
#splashScreen {
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundcolor);
    position: fixed;
    z-index: 9;
}
@keyframes splashScreen {
    0% {height: 100vh;}
    100% {height: 0vh; visibility: hidden;}
}
@keyframes splashScreenout {
    0% {height: 0vh; visibility: visible;}
    100% {height: 100vh;}
}
#splashScreenGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 46px 20px;
    grid-row-gap: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#splashScreenLoadingAnimation {
    margin: auto;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
#splashScreenLoadingText {
    font-size: 12px;
    color: var(--lightcolor);
}
#navContainer {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    padding-top: 19px;
    background-color: var(--backgroundcolor);
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#navList {
    display: flex;
    width: 86%;
    height: 42px;
    margin: auto;
    justify-content: space-between;
    z-index: 7;
}
#navList1 {
    display: flex;
    line-height: 42px;
    list-style: none;
}
#navList2 {
    display: flex;
    line-height: 42px;
    list-style: none;
}
#navLogo {
    height: 36px;
    margin: 3px 64px 3px 0px;
    user-select: none;
    -webkit-user-select: none;
}
#navGame {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navSupport {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navDiscord {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navStore {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
}
#navVote {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin: 0px 64px;
}
#navGame:hover {
    text-decoration: underline;
}
#navSupport:hover {
    text-decoration: underline;
}
#navDiscord:hover {
    text-decoration: underline;
}
#navStore:hover {
    text-decoration: underline;
}
#navVote:hover {
    text-decoration: underline;
}
#navButton {
    padding: 2px;
    height: 42px;
    width: 128px;
    background-color: var(--backuptextlight);
    border-style: none;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    color: var(--lightcolor);
    text-decoration: none;
    -webkit-appearance: button;
    appearance: button;
    text-align: center;
}
#navButton:hover {
    background-color: var(--backuptext);
    cursor: pointer;
}
#mobilenavLogo {
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-select: none;
    display: none;
}
#mobilenavMenuBackground {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
#mobilenavMenu {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}
#mobilenavMenuClose {
    position: fixed;
    right: 24px;
    top: 24px;
    cursor: pointer;
    display: none;
    z-index: 8;
}
@keyframes NavMenuOpen {
    0% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
}
@keyframes NavMenuClose {
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
#footerSection {
    background-color: var(--backgroundcolor);
    width: 100%;
    padding: 22px 0px 42px;
}
#footerContainer {
    width: 1064px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#footerNavigations {
    display: flex;
}
.footerNavBlock {
    width: 180px;
    display: flex;
    flex-direction: column;
}
.footerNavHeader {
    color: var(--lightcolor);
    font-weight: 500;
    margin: 42px 0px 10px;
}
.footerNavBlock a {
    margin-top: 8px;
    text-decoration: none;
    color: #909090;
}
.footerNavBlock a:hover {
    text-decoration: underline;
}
#footerMedias {
    text-align: right;
}
.footerMediasLink {
    margin: 0px 0px 8px 6px;
}
#footerCopyright {
    color: #909090;
    font-size: 13px;
    font-weight: 500;
}
#playnowSection {
    width: 100%;
    background-image: url(https://www.minecraft.net/content/dam/games/minecraft/background-images/xplay-aquatic-bg.jpg);
    background-position: top;
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    box-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
#playnowHeader {
    color: var(--lightcolor);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    width: 760px;
    max-width: 95%;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
#playnowGuideSection {
    width: 100%;
    padding: 142px 0px 70px;
}
#playnowGuideContainer {
    width: 1064px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#playnowGuideTextContainer {
    width: 475px;
}
#playnowGuideTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 26px;
    color: var(--primarycolor);
}
.playnowGuideSteps {
    margin-bottom: 16px;
    list-style: none;
    counter-reset: steps-counter;
}
.playnowGuideStepsText {
    counter-increment: steps-counter;
    font-size: 14px;
    color: var(--secondarycolor);
    position: relative;
    padding-left: 64px;
    margin-bottom: 16px;
    min-height: 48px;
    height: auto;
    line-height: 48px;
}
.playnowGuideStepsText::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: counter(steps-counter);
    color: var(--lightcolor);
    background-color: var(--secondarycolor);
    font-size: 28px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    height: 48px;
    width: 48px;
    border-radius: 4px;
}
.playnowGuideStepsText5::before {
    background-color: var(--backuptextlight);
}
.playnowGuideStepsText5 {
    color: var(--backuptextlight);
}
#playnowGuideImage {
    height: 290px;
    width: 480px;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0px 6px 6px rgba(0,0,0,.33);
}
#playnowWarningContainer {
    width: 1064px;
    max-width: 95%;
    margin: auto;
    border-radius: 4px;
    background-color: #FFFCD9;
    padding: 16px 16px 16px 30px;
    border-left: 6px solid #FBE900;
    margin-bottom: 64px;
}
#playnowWarningMessage {
    font-weight: 500;
    color: var(--primarycolor);
    line-height: 1.6;
}
#playnowWarningMessage1 {
    font-weight: 600;
    color: var(--primarycolor);
    line-height: 1.6;
}
#playnowWarningMessageLink {
    font-weight: 600;
    color: var(--backuptextlight);
    line-height: 1.6;
}
#playnowProblemSection {
    width: 760px;
    max-width: 95%;
    margin: 64px auto;
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playnowProblemTitle {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
    color: var(--primarycolor);
    text-align: center;
}
#playnowProblemDesc {
    font-size: 14px;
    line-height: 1.6;
    color: var(--secondarycolor);
    text-align: center;
    padding-bottom: 64px;
}
#playnowProblemOpenButton {
    background-color: var(--backuptextlight);
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    width: 250px;
    color: var(--lightcolor);
    border: none;
    border-radius: 4px;
}
#playnowProblemOpenButton:hover {
    background-color: var(--backuptext);
    cursor: pointer;
}
#playnowProblemFAQ {
    font-size: 14px;
    color: var(--backuptext);
    margin-top: 16px;
}
#playnowSolutionSection {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 98;
}
#playnowSolutionContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 85vh;
    width: 760px;
    max-width: 95%;
    background-color: var(--lightcolor);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 42px;
    display: none;
    z-index: 99;
}
#playnowSolutionHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
}
#playnowSolutionHeaderContainer {
    display: flex;
    align-items: center;
}
#playnowSolutionHeaderContainer img {
    height: 32px;
    width: 32px;
    margin-right: 16px;
}
#playnowSolutionTitle {
    font-size: 18px;
    font-weight: 600;
    color: var(--primarycolor);
    line-height: 34px;
}
#playnowSolutionClose {
    font-size: 28px;
    font-weight: 600;
    padding: 0px 8px;
}
#playnowSolutionClose:hover {
    background-color: #02071108;
    cursor: pointer;
    border-radius: 4px;
}
#playnowSolutionSolutions {
    width: 100%;
    height: calc(100% - 76px);
    overflow-y: scroll;
}
#playnowSolutionSolutions::-webkit-scrollbar {
    width: 6px;
}
#playnowSolutionSolutions::-webkit-scrollbar-thumb {
    background-color: var(--backuptextlight);
    border-radius: 4px;
}
.playnowSolutionSolutionsTitle {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0px 12px 32px;
    position: relative;
}
.playnowSolutionSolutionsTitle::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -29px;
    width: 6px;
    height: 6px;
    border: solid 3px var(--backuptextlight);
    border-radius: 4px;
}
.playnowSolutionSolutionsDesc {
    line-height: 1.6;
    color: var(--secondarycolor);
    margin: 0px 0px 24px 32px;
}
@media screen and (max-width: 1032px) {
    #splashScreenGrid {
        top: 40%;
        transform: translate(-50%, 0%);
    }
    #mobilenavLogo {
        display: block;
    }
    #mobilenavMenu {
        display: block;
    }
    #navList {
        position: fixed;
        flex-direction: column;
        padding: 32px 32px 100px 32px;
        top: 0px;
        left: -76%;
        height: 100vh;
        width: 75%;
        background-color: var(--backgroundcolor);
    }
    #navList1 {
        flex-direction: column;
    }
    #navList2 {
        flex-direction: column;
    }
    #navButton {
        width: 100%;
    }
    #navGame {
        font-size: 12px;
        font-weight: 500;
    }
    #navSupport {
        font-size: 12px;
        font-weight: 500;
    }
    #navDiscord {
        font-size: 12px;
        font-weight: 500;
    }
    #navStore {
        font-size: 12px;
        font-weight: 500;
    }
    #navVote {
        font-size: 12px;
        margin: 0px;
        font-weight: 500;
    }
    #footerContainer {
        flex-direction: column;
        align-items: center;
    }
    #footerMedias {
        text-align: center;
        margin-top: 64px;
    }
    .footerNavHeader {
        text-align: center;
    }
    .footerNavBlock a {
        text-align: center;
    }
    #playnowHeader {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.6;
    }
    #playnowGuideSection {
        padding: 64px 0px;
    }
    #playnowGuideContainer {
        flex-direction: column-reverse;
        align-items: center;
    }
    #playnowGuideTextContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #playnowGuideTitle {
        margin-top: 64px;
        text-align: center;
    }
    #playnowGuideImage {
        max-width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 744px) {
    #footerNavigations {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footerNavHeader {
        font-size: 14px;
        font-weight: 600;
    }
    .footerNavBlock a {
        font-size: 14px;
    }
    #playnowWarningContainer {
        padding: 16px 16px 16px 24px;
    }
    #playnowSolutionContainer {
        padding: 32px 22px;
    }
}
@media screen and (max-width: 360px) {
    #playnowHeader {
        font-size: 24px;
        font-weight: 500;
    }
}