* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
:root {
    --lightcolor: #f6f6f6;
    --primarycolor: #05060f;
    --secondarycolor: #696a6f;
    --backuptext: #1a5f96;
    --backuptextlight: #1d73b9;
    --backgroundcolor: #020711;
}
body {
    background-color: var(--lightcolor);
    color: var(--primarycolor);
    overflow-x: hidden;
}
#splashScreen {
    width: 100%;
    height: 100vh;
    background-color: var(--primarycolor);
    position: fixed;
    z-index: 9;
}
@keyframes splashScreen {
    0% {height: 100vh;}
    100% {height: 0vh; visibility: hidden;}
}
@keyframes splashScreenout {
    0% {height: 0vh; visibility: visible;}
    100% {height: 100vh;}
}
#splashScreenGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 46px 20px;
    grid-row-gap: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#splashScreenLoadingAnimation {
    margin: auto;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
#splashScreenLoadingText {
    font-size: 12px;
    color: var(--lightcolor);
}
#navContainer {
    width: 100%;
    height: 80px;
    padding-top: 19px;
    background-color: var(--primarycolor);
    position: relative;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#navList {
    display: flex;
    width: 86%;
    height: 42px;
    margin: auto;
    justify-content: space-between;
    z-index: 7;
}
#navList1 {
    display: flex;
    line-height: 42px;
    list-style: none;
}
#navList2 {
    display: flex;
    line-height: 42px;
    list-style: none;
}
#navLogo {
    height: 36px;
    margin: 3px 64px 3px 0px;
    user-select: none;
    -webkit-user-select: none;
}
#navGame {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navSupport {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navDiscord {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin-right: 64px;
}
#navStore {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
}
#navVote {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    color: var(--lightcolor);
    margin: 0px 64px;
}
#navGame:hover {
    text-decoration: underline;
}
#navSupport:hover {
    text-decoration: underline;
}
#navDiscord:hover {
    text-decoration: underline;
}
#navStore:hover {
    text-decoration: underline;
}
#navVote:hover {
    text-decoration: underline;
}
#navButton {
    padding: 2px;
    height: 42px;
    width: 128px;
    background-color: var(--backuptextlight);
    border-style: none;
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    color: var(--lightcolor);
    text-decoration: none;
    -webkit-appearance: button;
    appearance: button;
    text-align: center;
}
#navButton:hover {
    background-color: var(--backuptext);
    cursor: pointer;
}
#mobilenavLogo {
    height: 36px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -webkit-user-select: none;
    display: none;
}
#mobilenavMenuBackground {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
}
#mobilenavMenu {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}
#mobilenavMenuClose {
    position: fixed;
    right: 24px;
    top: 24px;
    cursor: pointer;
    display: none;
    z-index: 8;
}
@keyframes NavMenuOpen {
    0% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
}
@keyframes NavMenuClose {
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}
#homeBackgroundContainer {
    overflow: hidden;
}
#homeBackgroundImage {
    height: 105vh;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
#homeContent {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 850px;
    height: 100vh;
}
#homeContentTitle {
    position: absolute;
    top: 33%;
    color: var(--lightcolor);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
}
#homeContentButton {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#homeContentSubtitle {
    color: var(--lightcolor);
    font-size: 13px;
    text-align: center;
    padding-bottom: 16px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, .8);
}
#homeContentPlaynow {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 246px;
    height: 54px;
    font-size: 10px;
    font-weight: bold;
    color: var(--lightcolor);
    background-color: var(--backuptextlight);
    border-style: none;
    border-radius: 3px;
}
#homeContentPlaynow:hover {
    background-color: var(--backuptext);
    cursor: pointer;
}
#newsContainer {
    background-color: #fff;
    border-radius: 3px;
    padding: 64px 38px 72px 38px;
    width: 1024px;
    margin: -32px auto 64px auto;
    position: relative;
    box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.1);
}
#newsHeader {
    font-size: 32px;
    font-weight: 700;
    color: var(--backuptext);
    padding-bottom: 64px;
}
#newsSeemore {
    position: absolute;
    right: 42px;
    top: 68px;
    font-size: 10px;
    font-weight: bold;
    color: var(--backuptext);
    text-decoration: none;
    height: 32px;
    line-height: 32px;
}
#newsSeemore span {
    padding: 0px 8px 0px 8px;
    transition: padding .4s;
}
#newsSeemore:hover span {
    padding: 0px 0px 0px 16px;
}
#newsList {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.newsLink {
    color: var(--primarycolor);
    text-decoration: none;
}
.newsThumbnail {
    width: 277px;
    background-color: var(--primarycolor);
    border: 2px solid var(--primarycolor);
    transition: transform .2s;
}
.newsLink:hover .newsThumbnail {
    background-color: var(--backuptextlight);
    transform: scale(1.04);
    border: 2px solid var(--backuptextlight);
}
.newsTitle {
    padding-top: 12px;
    font-size: 14px;
    font-weight: 600;
    width: 277px;
    transition: color .2s;
}
.newsLink:hover .newsTitle {
    color: var(--backuptext);
}
#footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundcolor);
    width: 100%;
    padding: 42px 32px;
}
#footerLogo {
    height: 42px;
    margin-bottom: 10px;
    user-select: none;
    -webkit-user-select: none;
}
#footerMedias a {
    color: var(--backgroundcolor);
    text-decoration: none;
}
#footerMedias svg {
    margin: 10px;
}
#footerCopyright {
    text-align: center;
    color: #696a6f;
    padding-top: 48px;
}
#aboutContainer {
    width: 1024px;
    margin: auto;
    padding: 0px 0px 72px;
    position: relative;
}
#aboutTitle {
    font-size: 28px;
    font-weight: 700;
    width: 75%;
    text-align: center;
    margin: auto;
}
#aboutDescription {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    width: 75%;
    text-align: center;
    margin: auto;
    padding: 42px 0px 84px;
    color: var(--secondarycolor);
}
#aboutTrailer {
    background-color: var(--backuptext);
    border: 5px solid var(--backuptext);
    height: 290px;
    width: 480px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
#aboutTrailerThumbnail {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#aboutTrailerWatchtext {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    color: var(--lightcolor);
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 16px 0px;
}
#aboutTrailerButton {
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
    width: 80px;
    height: 46px;
    background-color: #005885;
    margin: 23.09px 0;
    border-left: solid 5px #004264;
    border-right: solid 5px #4083a4;
}
#aboutTrailerButton:before,
#aboutTrailerButton:after {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: #005885;
    left: 7px;
}
#aboutTrailerButton:before {
    top: -28px;
    border-top: solid 7.0711px #4083a4;
    border-right: solid 7.0711px #80acc2;
}

#aboutTrailerButton:after {
    bottom: -28px;
    border-bottom: solid 7.0711px #004264;
    border-left: solid 7.0711px #002d43;
}
#aboutTrailerPlayButton {
    width: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    z-index: 1;
}
#aboutTrailerButton:hover {
    cursor: pointer;
    background-color: #313131;
    border-left: solid 5px #252525;
    border-right: solid 5px #656565;
}
#aboutTrailerButton:hover:before {
    background-color: #313131;
    border-top: solid 7.0711px #656565;
    border-right: solid 7.0711px #989898;
}
#aboutTrailerButton:hover:after {
    background-color: #313131;
    border-bottom: solid 7.0711px #252525;
    border-left: solid 7.0711px #191919;
}
#aboutTrailerVideoBG {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 10;
    display: none;
}
#aboutTrailerVideoClose {
    position: absolute;
    right: 18px;
    top: 18px;
    cursor: pointer;
}
#aboutTrailerVideo {
    height: 480px;
    max-width: 835px;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1032px) {
    #mobilenavLogo {
        display: block;
    }
    #mobilenavMenu {
        display: block;
    }
    #navList {
        position: fixed;
        flex-direction: column;
        padding: 32px 32px 100px 32px;
        top: 0px;
        left: -250px;
        height: 100vh;
        width: 250px;
        background-color: var(--primarycolor);
    }
    #navList1 {
        flex-direction: column;
    }
    #navList2 {
        flex-direction: column;
    }
    #navButton {
        width: 186px;
    }
    #navVote {
        margin: 0px;
    }
    #homeContent {
        width: 84%;
    }
    #homeContentTitle {
        top: 30%;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.6;
    }
    #homeContentButton {
        bottom: 13%;
        width: 100%;
    }
    #newsContainer {
        padding: 38px 24px 64px 24px;
        width: 95%;
        margin: -70px auto 64px auto;
    }
    #newsHeader {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 38px;
    }
    #newsSeemore {
        right: 50%;
        top: auto;
        bottom: 32px;
        transform: translateX(50%);
    }
    #newsSeemore span {
        padding: 0px 0px 0px 8px;
    }
    #newsList {
        overflow-x: scroll;
        white-space: nowrap;
    }
    #newsList li {
        display: inline;
        margin-right: 32px;
    }
    #newsList3 {
        margin-right: 0px !important;
        white-space: normal !important;
    }
    .newsThumbnail {
        width: 277px;
    }
    .newsTitle {
        width: 277px;
        padding-bottom: 32px;
        font-weight: 600;
        font-size: 16px;
    }
    #aboutContainer {
        width: 95%;
    }
    #aboutTitle {
        width: 90%;
    }
    #aboutDescription {
        width: 90%;
        padding: 42px 0px;
    }
    #aboutImage {
        display: block;
        margin: auto;
    }
    #aboutTrailer {
        max-width: 535.61px;
        width: 97%;
    }
}
@media screen and (max-width: 360px) {
    #splashScreenGrid {
        top: 40%;
        transform: translate(-50%, 0%);
    }
    #homeContent {
        width: 90%;
    }
    #homeContentTitle {
        top: 30%;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.6;
    }
    #homeContentButton {
        bottom: 15%;
        width: 100%;
    }
    .newsTitle {
        font-weight: 500;
        font-size: 13px;
    }
    #aboutTitle {
        width: 95%;
        font-size: 24px;
        font-weight: 500;
    }
    #aboutImage {
        width: 80%;
    }
    #aboutTrailer {
        width: 97%;
        height: 200px;
    }
    #aboutTrailerButton {
        transform: translateX(-50%) scale(.75);
    }
    #aboutTrailerThumbnail {
        height: 100%;
    }
    #aboutTrailerVideo {
        width: 360px;
        height: 202px;
    }
}